import {hydrateRoot} from 'react-dom/client';
import {wrapLayouts} from '@schorle/shared';
import { PropsProvider } from "@schorle/shared";
import {decode} from "msgpackr"

{{ import_statements }}

function readInitialProps() {
  const el = document.getElementById("__SCHORLE_PROPS__") as HTMLScriptElement | null;
  if (!el || !el.textContent) return null;
  const u8 = Uint8Array.from(atob(el.textContent), c => c.charCodeAt(0));
  return decode(u8);
}

const layouts = {{ layout_components }};
const pageTree = wrapLayouts(Page, layouts);
const initialProps = readInitialProps();
const element = (
    <PropsProvider value={initialProps}>
        {pageTree}
    </PropsProvider>
);

hydrateRoot(document, element);