[build-system]
requires = ["hatchling", "hatch-vcs"]
build-backend = "hatchling.build"

[project]
name = "schorle"
description = 'Server-driven UI kit for Python with async support'
dynamic = ["version"]
readme = "README.md"
requires-python = ">=3.7"
license = "MIT"
keywords = [
    "python",
    "ui",
    "server-driven-ui",
    "async"
]
authors = [{ name = "renardeinside", email = "polarpersonal@gmail.com" }]
classifiers = [
    "Development Status :: 4 - Beta",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: Implementation :: CPython",
]
dependencies = [
    "lxml",
    "fastapi",
    "uvicorn[standard]",
    "loguru",
    "python-multipart",
    "bidict"
]

[project.urls]
Documentation = "https://github.com/renardeinside/schorle#readme"
Issues = "https://github.com/renardeinside/schorle/issues"
Source = "https://github.com/renardeinside/schorle"

[tool.hatch.version]
source = "vcs"

[tool.hatch.build.targets.wheel]
packages = ["src/python/schorle"]

[tool.hatch.build.targets.wheel.force-include]
"src/python/schorle/assets/js" = "schorle/assets/js"
"src/python/schorle/assets/dist" = "schorle/assets/dist"

[tool.hatch.build.hooks.vcs]
version-file = "src/python/schorle/_version.py"

[tool.hatch.envs.default]
dependencies = [
    "coverage[toml]>=6.5", "pytest",
    "betterproto[compiler]",
    "hatch-vcs",
    "pytest-cov",
    "brotli",
    "requests"
]
[tool.hatch.envs.default.scripts]
test = "pytest {args:tests}"
test-cov = "pytest --cov-report=html --cov-report=xml --cov={args:src/python/schorle} {args:tests}"

[[tool.hatch.envs.all.matrix]]
python = ["3.7", "3.8", "3.9", "3.10", "3.11"]

[tool.hatch.envs.lint]
detached = true
dependencies = [
    "black>=24.2.0,<25.0.0",
    "mypy>=1.0.0,<2.0.0",
    "ruff>=0.2.2,<0.3.0",
]
[tool.hatch.envs.lint.scripts]
typing = "mypy --install-types --non-interactive {args:src/schorle tests}"
style = ["ruff {args:.}", "black --check --diff {args:.}"]
fmt = ["black {args:.}", "ruff --fix {args:.}", "style"]
all = ["style", "typing"]

[tool.black]
target-version = ["py37"]
line-length = 120
skip-string-normalization = true
extend-exclude = "src/python/schorle/_version.py"

[tool.ruff]
target-version = "py37"
line-length = 120

[tool.ruff.lint]

select = [
    "A",
    "ARG",
    "B",
    "C",
    "DTZ",
    "E",
    "EM",
    "F",
    "FBT",
    "I",
    "ICN",
    "ISC",
    "N",
    "PLC",
    "PLE",
    "PLR",
    "PLW",
    "Q",
    "RUF",
    "S",
    "T",
    "TID",
    "UP",
    "W",
    "YTT",
]
ignore = [
    # Allow non-abstract empty methods in abstract base classes
    "B027",
    # Allow boolean positional values in function calls, like `dict.get(... True)`
    "FBT003",
    # Ignore checks for possible passwords
    "S105",
    "S106",
    "S107",
    # Ignore complexity
    "C901",
    "PLR0911",
    "PLR0912",
    "PLR0913",
    "PLR0915",
    # Ignore string literals for error messages
    "EM101"
]
unfixable = [
    # Don't touch unused imports
    "F401",
]

exclude = [
    "src/python/schorle/_version.py"
]

[tool.ruff.lint.isort]
known-first-party = ["schorle"]

[tool.ruff.lint.flake8-tidy-imports]
ban-relative-imports = "all"

[tool.ruff.lint.per-file-ignores]
# Tests can use magic values, assertions, and relative imports
"tests/**/*" = ["PLR2004", "S101", "TID252"]
"examples/**/*" = ["S311", "N802"]
"docs/**/*" = ["N802"]

[tool.coverage.run]
source_pkgs = ["schorle"]
source = ["src/python/schorle"]
branch = true
parallel = true

[tool.coverage.paths]
schorle = ["src/python/schorle"]

[tool.coverage.report]
exclude_lines = ["no cov", "if __name__ == .__main__.:", "if TYPE_CHECKING:"]
