name: ci

on:
  pull_request:
    types: [ opened, synchronize ]
  push:
    branches: [ main ]

jobs:
  ci:

    runs-on: ubuntu-latest

    environment: test
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'
      - uses: actions/setup-node@v4
        with:
          node-version: 'latest'
          cache: 'yarn'
          cache-dependency-path: src/typescript/yarn.lock
      - name: Install yarn dependencies
        run: yarn --cwd src/typescript install
      - name: Build bundle
        run: yarn --cwd src/typescript build
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip 
          pip install hatch
          hatch run sync
      - name: Download CSS dependencies
        run: hatch run python src/python/schorle/scripts/load_css_deps.py
      - name: Lint
        run: hatch run lint:style .
      - name: Test
        run: hatch run test-cov
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.0.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: renardeinside/schorle