name: release

on:
  push:
    tags:
      - 'v*' # only release a versioned tag, such as v.X.Y.Z
permissions:
  contents: read

jobs:
  deploy:

    runs-on: ubuntu-latest

    environment: release
    permissions:
      id-token: write # IMPORTANT: this permission is mandatory for trusted publishing

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'
      - uses: actions/setup-node@v4
        with:
          node-version: 'latest'
          cache: 'yarn'
          cache-dependency-path: src/typescript/yarn.lock
      - name: Install yarn dependencies
        run: yarn --cwd src/typescript install
      - name: Build bundle
        run: yarn --cwd src/typescript build
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip 
          pip install hatch
          hatch run sync
      - name: Download CSS dependencies
        run: hatch run python src/python/schorle/scripts/load_css_deps.py
      - name: Build package
        run: hatch build
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1